<p-dataView #dv [value]="bookManagerService.getBooksSearchResultArray()"  [paginator]="true" paginatorPosition="both" [rows]="20" [totalRecords]="100" [(first)]="first" [pageLinks]="5" [lazy]="true" (onLazyLoad)="loadData($event)">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-6 ui-md-4 filter-container">
          <div style="position:relative">
            <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup">
                <button pButton type="button" label="Search"></button>
                <input #searchBox type="text" pInputText [(ngModel)]="searchText" pInputText placeholder="Search your book" (keyup)="changeToFirstPage($event)">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-header>
  <ng-template let-book pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
      <div class="ui-g-12 ui-md-3" style="text-align:center">
        <img src="{{book.imgSrc}}">
      </div>
      <div class="ui-g-12 ui-md-8 car-details">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-6">title: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{book.title}}</b></div>

          <div class="ui-g-2 ui-sm-6">authors: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{book.authors.toString()}}</b></div>

          <div class="ui-g-2 ui-sm-6">publisher: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{book.publisher}}</b></div>

          <div class="ui-g-2 ui-sm-6">language: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{book.language}}</b></div>

          <div class="ui-g-2 ui-sm-6">print type: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{book.printType}}</b></div>

          <div class="ui-g-2 ui-sm-6">page count: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{book.pageCount}}</b></div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-1 more-details">
        <button label="more details" pButton type="button" styleClass="ui-button-info" (click)="selectBook($event, book)"></button>
      </div>
    </div>
  </ng-template>
</p-dataView>
