.home-page{
  color: white;
  text-align: center;
  background-color: #005b9f;
  padding: 1%;
  margin: auto;
}

.welcome{
  color: #71cde5;
}

.bookland{
  color: white;
}

.description{
  margin-bottom: 2%;
}

.userName{
  color: white;
}
