.toolbar {
  color: white;
  position: relative;
  bottom: 17px;
  margin-top: 2%;
}

.toolbar-ul {
  list-style: none;
}

.toolbar-li {
  display: inline-block;
  position: relative;
  margin-right: 1%;
}

.toolbar-li:focus {
  outline: none;
}

.toolbar-a {
  font-weight: 500;
  font-style: italic;
  text-decoration: none;
  letter-spacing: .6px;
  color: #005b9f;
}

.toolbar-a:hover {
  color: white;
  cursor: pointer;
  border-bottom: 1px solid white;
}

.toolbar-a:focus {
  outline: none;
}





