.container{
  margin-top:10%;
  margin-left: 40%;
  position: relative;
}

.login{
  color: black;
  text-align: center;
  background-color: white;
  margin: auto;
  margin-top: 10%;
  max-width: 250px;
  padding-top: 2%;
  padding-bottom: 5%;
  border-radius: 2%;
}

.userName{
  width: 100%;
  margin-top: 10%;
}

.title{
font-size: xx-large;
}


.validation{
  color: #1025ff;
  margin-top: 7%;
   margin-bottom: 2%;
}
.login-button{
  width: 40%;
  margin-top: 10%;
}
