<div align="center" class="login">
  <h1 class="title">BOOKsLand </h1>
  <img  src="../../../../assets/images/book_icon2.jpg">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
     <div class="form-group">
       <div class="ui-g ui-fluid">
         <div class="ui-g-12 ui-md-4 userName">
           <div class="ui-inputgroup">
             <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
             <input  type="text" pInputText placeholder="Username" id="username" name="username" [(ngModel)]="model.username" #username="ngModel" required>
           </div>
         </div>
       </div>
      </div>
      <div [hidden]="username.valid || username.pristine"
           class="validation">
        Name is required
      </div>
      <button pButton type="submit" label="Login" class="ui-button-raised ui-button-secondary login-button" [disabled]="loginForm.invalid"></button>
      </form>
</div>
