/* You can add global styles to this file, and also import other style files */
body{
  font-family: Arial;
  /*
  background-image: url('./assets/images/books_login5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  */
}
